.container {
  border: 3px solid rgb(145, 78, 7);
  width: 500px;
  height: 500px;
  margin: 0 auto;
  padding-bottom: 15px;
  background-color: rgb(209, 163, 102);
}
h2 {
  margin-left: 20px;
  font-family: tahoma;
}
img {
  width: 350px;
  height: 200px;
  border: 5px solid rgb(230, 136, 36);
  margin-left: 20px;
}
.definition {
  border: 5px dashed rgb(243, 175, 103);
  width: 350px;
  height: 200px;
  margin-left: 20px;
  background-color: rgb(226, 197, 166);
  overflow-y: scroll;
  margin-top: 10px;
}
.para {
  text-decoration: underline;
}
